
/* Your CSS Code here. */
.coloumn{
    float:left;
    padding: 2px;
}
img{
    width:100px;
    height: 100px;
}
.row,.row1,.row2,.row3::after {
    content: " ";
    clear: both;
    display: table;
}